---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/aws/aws-sdk-ruby/contents/gems/aws-sdk-s3?ref=version-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token f0d1005a546bf3c5881dfce4a39b1fd97a99c3ea
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c29501793394ce0defe749c71e6165e83a19bd15"
      Last-Modified:
      - Sun, 09 May 2021 14:00:22 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1620587579'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"CHANGELOG.md","path":"gems/aws-sdk-s3/CHANGELOG.md","sha":"cc8dd719b8148624778d005aef177068963d44bb","size":19599,"url":"https://api.github.com/repos/aws/aws-sdk-ruby/contents/gems/aws-sdk-s3/CHANGELOG.md?ref=version-3","html_url":"https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-s3/CHANGELOG.md","git_url":"https://api.github.com/repos/aws/aws-sdk-ruby/git/blobs/cc8dd719b8148624778d005aef177068963d44bb","download_url":"https://raw.githubusercontent.com/aws/aws-sdk-ruby/version-3/gems/aws-sdk-s3/CHANGELOG.md","type":"file","_links":{"self":"https://api.github.com/repos/aws/aws-sdk-ruby/contents/gems/aws-sdk-s3/CHANGELOG.md?ref=version-3","git":"https://api.github.com/repos/aws/aws-sdk-ruby/git/blobs/cc8dd719b8148624778d005aef177068963d44bb","html":"https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-s3/CHANGELOG.md"}},{"name":"LICENSE.txt","path":"gems/aws-sdk-s3/LICENSE.txt","sha":"d645695673349e3947e8e5ae42332d0ac3164cd7","size":11358,"url":"https://api.github.com/repos/aws/aws-sdk-ruby/contents/gems/aws-sdk-s3/LICENSE.txt?ref=version-3","html_url":"https://github.com/aws/aws-sdk-ruby/blob/version-3/gems/aws-sdk-s3/LICENSE.txt","git_url":"https://api.github.com/repos/aws/aws-sdk-ruby/git/blobs/d645695673349e3947e8e5ae42332d0[...]
