---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/presidentbeef/brakeman/tags?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58e5dfaca9c63fb04e7be400a936a500e246958c6f0367a491b306839897cd76"
      Last-Modified:
      - Sun, 09 May 2021 14:02:19 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/865250/tags?page=2&per_page=50>; rel="next",
        <https://api.github.com/repositories/865250/tags?page=3&per_page=50>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1620591640'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v5.0.1","zipball_url":"https://api.github.com/repos/presidentbeef/brakeman/zipball/refs/tags/v5.0.1","tarball_url":"https://api.github.com/repos/presidentbeef/brakeman/tarball/refs/tags/v5.0.1","commit":{"sha":"6b1eb67773c8d7027a3780972b90d4ec8359be02","url":"https://api.github.com/repos/presidentbeef/brakeman/commits/6b1eb67773c8d7027a3780972b90d4ec8359be02"},"node_id":"MDM6UmVmODY1MjUwOnJlZnMvdGFncy92NS4wLjE="},{"name":"v5.0.0","zipball_url":"https://api.github.com/repos/presidentbeef/brakeman/zipball/refs/tags/v5.0.0","tarball_url":"https://api.github.com/repos/presidentbeef/brakeman/tarball/refs/tags/v5.0.0","commit":{"sha":"09b66b580d423ed146f3ef67e3cfbbaa6537cb2e","url":"https://api.github.com/repos/presidentbeef/brakeman/commits/09b66b580d423ed146f3ef67e3cfbbaa6537cb2e"},"node_id":"MDM6UmVmODY1MjUwOnJlZnMvdGFncy92NS4wLjA="},{"name":"v5.0.0.pre1","zipball[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/brakeman.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.26.69.39:443
      Etag:
      - '"c376ded080d893beaa5530eff9f418fb"'
    body:
      encoding: UTF-8
      string: '{"name":"brakeman","downloads":44232708,"version":"5.0.1","version_created_at":"2021-04-28T06:01:43.415Z","version_downloads":138981,"platform":"ruby","authors":"Justin
        Collins","info":"Brakeman detects security vulnerabilities in Ruby on Rails
        applications via static analysis.","licenses":["Brakeman Public Use License"],"metadata":{"wiki_uri":"https://github.com/presidentbeef/brakeman/wiki","homepage_uri":"https://brakemanscanner.org/","changelog_uri":"https://github.com/presidentbeef/brakeman/releases","bug_tracker_uri":"https://github.com/presidentbeef/brakeman/issues","source_code_uri":"https://github.com/presidentbeef/brakeman","mailing_list_uri":"https://gitter.im/presidentbeef/brakeman","documentation_uri":"https://brakemanscanner.org/docs/"},"yanked":false,"sha":"4c1b7c7747ecfca11a822a4bab5ad05f13515e195d7d34590d3add215573b431","project_uri":"https://rubygems.org/gems/brakeman","gem_uri":"https://rubygems.org/gems/brakeman-5.0.1.gem","homepage_uri":"https://brakemanscanner.org/","wiki_uri":"https://github.com/presidentbeef/brakeman/wiki","documentation_uri":"https://brakemanscanner.org/docs/","mailing_list_uri":"https://gitter.im/presidentbeef/brakeman","source_code_uri":"https://github.com/presidentbeef/brakeman","bug_tracker_uri":"https://github.com/presidentbeef/brakeman/issues","changelog_uri":"https://github.com/presidentbeef/brakeman/releases","funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Sun, 09 May 2021 20:13:33 GMT
- request:
    method: get
    uri: https://github.com/presidentbeef/brakeman
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"c563e569e164cde2bf8cbf689246aea3"
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n<!DOCTYPE html>\n<html lang=\"en\" data-color-mode=\"auto\"
        data-light-theme=\"light\" data-dark-theme=\"dark\">\n  <head>\n    <meta
        charset=\"utf-8\">\n  <link rel=\"dns-prefetch\" href=\"https://github.githubassets.com\">\n
        \ <link rel=\"dns-prefetch\" href=\"https://avatars.githubusercontent.com\">\n
        \ <link rel=\"dns-prefetch\" href=\"https://github-cloud.s3.amazonaws.com\">\n
        \ <link rel=\"dns-prefetch\" href=\"https://user-images.githubusercontent.com/\">\n\n\n\n
        \ <link crossorigin=\"anonymous\" media=\"all\" integrity=\"sha512-sf1Ppoo8CVx+YA47iIi2IUMYtjH17Errad0dPA+lo7DVd6VW1Mdy+TBcpD06Z6FN8MKI7TH5fpYU33+DhP25kg==\"
        rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/frameworks-b1fd4fa68a3c095c7e600e3b8888b621.css\"
        />\n    <link crossorigin=\"anonymous\" media=\"all\" integrity=\"sha512-w2FhgcThDGVEWtU2CXiYptn/ycIg+HR7eUYhF7D4995er23AAjfjfNafEQcf8I8b8j9w0mogqXElpFTkpWnIZg==\"
        rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/behaviors-c3616181c4e10c65445ad536097898a6.css\"
        />\n    \n    \n    \n    <link crossorigin=\"anonymous\" media=\"all\" integrity=\"sha512-IwoajEOel02eeTohMnWahFUlLFlQR2D7ze3SyG2bEzVQ/BE62mymz1R2v9S2LQgaduGAMOG8Zf05OpGuu7Kh7Q==\"
        rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/github-230a1a8c439e974d9e793a2132759a84.css\"
        />\n\n  <script crossorigin=\"anonymous\" defer=\"defer\" integrity=\"sha512-CzeY4A6TiG4fGZSWZU8FxmzFFmcQFoPpArF0hkH0/J/S7UL4eed/LKEXMQXfTwiG5yEJBI+9BdKG8KQJNbhcIQ==\"
        type=\"application/javascript\" src=\"https://github.githubassets.com/assets/environment-0b3798e0.js\"></script>\n
        \   <script crossorigin=\"anonymous\" defer=\"defer\" integrity=\"sha512-hpBaZBu8ZI84w5yC/WkJUwLtN94LNqeD8LSEq2Wwj72tXtw+lYX5bdfVO4d6acwX0RzPuZDOx60a1mqGK2pYSw==\"
        type=\"application/javascript\" src=\"https:/[...]
