---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/awesome_print.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.26.69.39:443
      Etag:
      - '"37cbcb2da9f0ba5c0111ef537772221a"'
    body:
      encoding: UTF-8
      string: '{"name":"awesome_print","downloads":121125986,"version":"1.9.2","version_created_at":"2021-03-07T18:10:51.923Z","version_downloads":893043,"platform":"ruby","authors":"Michael
        Dvorkin","info":"Great Ruby debugging companion: pretty print Ruby objects
        to visualize their structure. Supports custom object formatting via plugins","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"e99b32b704acff16d768b3468680793ced40bfdc4537eb07e06a4be11133786e","project_uri":"https://rubygems.org/gems/awesome_print","gem_uri":"https://rubygems.org/gems/awesome_print-1.9.2.gem","homepage_uri":"https://github.com/awesome-print/awesome_print","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/awesome_print/1.9.2","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"appraisal","requirements":"\u003e=
        0"},{"name":"fakefs","requirements":"\u003e= 0.2.1"},{"name":"nokogiri","requirements":"\u003e=
        1.11.0"},{"name":"rspec","requirements":"\u003e= 3.0.0"},{"name":"sqlite3","requirements":"\u003e=
        0"}],"runtime":[]}}'
  recorded_at: Sun, 09 May 2021 20:20:21 GMT
- request:
    method: get
    uri: https://github.com/awesome-print/awesome_print
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"aed34251d5b4173dc2af0165eebceeaf"
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n<!DOCTYPE html>\n<html lang=\"en\" data-color-mode=\"auto\"
        data-light-theme=\"light\" data-dark-theme=\"dark\">\n  <head>\n    <meta
        charset=\"utf-8\">\n  <link rel=\"dns-prefetch\" href=\"https://github.githubassets.com\">\n
        \ <link rel=\"dns-prefetch\" href=\"https://avatars.githubusercontent.com\">\n
        \ <link rel=\"dns-prefetch\" href=\"https://github-cloud.s3.amazonaws.com\">\n
        \ <link rel=\"dns-prefetch\" href=\"https://user-images.githubusercontent.com/\">\n\n\n\n
        \ <link crossorigin=\"anonymous\" media=\"all\" integrity=\"sha512-sf1Ppoo8CVx+YA47iIi2IUMYtjH17Errad0dPA+lo7DVd6VW1Mdy+TBcpD06Z6FN8MKI7TH5fpYU33+DhP25kg==\"
        rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/frameworks-b1fd4fa68a3c095c7e600e3b8888b621.css\"
        />\n    <link crossorigin=\"anonymous\" media=\"all\" integrity=\"sha512-w2FhgcThDGVEWtU2CXiYptn/ycIg+HR7eUYhF7D4995er23AAjfjfNafEQcf8I8b8j9w0mogqXElpFTkpWnIZg==\"
        rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/behaviors-c3616181c4e10c65445ad536097898a6.css\"
        />\n    \n    \n    \n    <link crossorigin=\"anonymous\" media=\"all\" integrity=\"sha512-IwoajEOel02eeTohMnWahFUlLFlQR2D7ze3SyG2bEzVQ/BE62mymz1R2v9S2LQgaduGAMOG8Zf05OpGuu7Kh7Q==\"
        rel=\"stylesheet\" href=\"https://github.githubassets.com/assets/github-230a1a8c439e974d9e793a2132759a84.css\"
        />\n\n  <script crossorigin=\"anonymous\" defer=\"defer\" integrity=\"sha512-CzeY4A6TiG4fGZSWZU8FxmzFFmcQFoPpArF0hkH0/J/S7UL4eed/LKEXMQXfTwiG5yEJBI+9BdKG8KQJNbhcIQ==\"
        type=\"application/javascript\" src=\"https://github.githubassets.com/assets/environment-0b3798e0.js\"></script>\n
        \   <script crossorigin=\"anonymous\" defer=\"defer\" integrity=\"sha512-hpBaZBu8ZI84w5yC/WkJUwLtN94LNqeD8LSEq2Wwj72tXtw+lYX5bdfVO4d6acwX0RzPuZDOx60a1mqGK2pYSw==\"
        type=\"application/javascript\" src=\"https:/[...]
