---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/vividmuimui/lock_diff/tags?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c170b91d51586b9fca2e261e6a13dea9d582312b388e8d35ca837af70c35f500"
      Last-Modified:
      - Sat, 27 Feb 2021 14:43:04 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1620591640'
      X-Ratelimit-Used:
      - '7'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v0.6.0","zipball_url":"https://api.github.com/repos/vividmuimui/lock_diff/zipball/refs/tags/v0.6.0","tarball_url":"https://api.github.com/repos/vividmuimui/lock_diff/tarball/refs/tags/v0.6.0","commit":{"sha":"5b2a8d7bd40e0d2c22c3f01caaac20e2991384d1","url":"https://api.github.com/repos/vividmuimui/lock_diff/commits/5b2a8d7bd40e0d2c22c3f01caaac20e2991384d1"},"node_id":"MDM6UmVmOTM4NjY0MTk6cmVmcy90YWdzL3YwLjYuMA=="},{"name":"v0.5.0","zipball_url":"https://api.github.com/repos/vividmuimui/lock_diff/zipball/refs/tags/v0.5.0","tarball_url":"https://api.github.com/repos/vividmuimui/lock_diff/tarball/refs/tags/v0.5.0","commit":{"sha":"8a6f138dad15f3bb5dc0fc2a62eeed07f960ed30","url":"https://api.github.com/repos/vividmuimui/lock_diff/commits/8a6f138dad15f3bb5dc0fc2a62eeed07f960ed30"},"node_id":"MDM6UmVmOTM4NjY0MTk6cmVmcy90YWdzL3YwLjUuMA=="},{"name":"v0.4.2","zipball[...]
