---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rack/rack/tags?page=1&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6d76577be6d31201fdd80aa7bcf74b1a21c36aa637071578398d8a6718b189a6"
      Last-Modified:
      - Sun, 09 May 2021 14:02:08 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/96071/tags?page=2&per_page=50>; rel="next",
        <https://api.github.com/repositories/96071/tags?page=2&per_page=50>; rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1620591640'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v2.2.2","zipball_url":"https://api.github.com/repos/rack/rack/zipball/refs/tags/v2.2.2","tarball_url":"https://api.github.com/repos/rack/rack/tarball/refs/tags/v2.2.2","commit":{"sha":"a5e80f01947954af76b14c1d1fdd8e79dd8337f3","url":"https://api.github.com/repos/rack/rack/commits/a5e80f01947954af76b14c1d1fdd8e79dd8337f3"},"node_id":"MDM6UmVmOTYwNzE6cmVmcy90YWdzL3YyLjIuMg=="},{"name":"v2.2.1","zipball_url":"https://api.github.com/repos/rack/rack/zipball/refs/tags/v2.2.1","tarball_url":"https://api.github.com/repos/rack/rack/tarball/refs/tags/v2.2.1","commit":{"sha":"961d9761bcb2bee17c80bba8b7bc9e285086d6c4","url":"https://api.github.com/repos/rack/rack/commits/961d9761bcb2bee17c80bba8b7bc9e285086d6c4"},"node_id":"MDM6UmVmOTYwNzE6cmVmcy90YWdzL3YyLjIuMQ=="},{"name":"test","zipball_url":"https://api.github.com/repos/rack/rack/[...]
