---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/vcr/vcr/contents/?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token f0d1005a546bf3c5881dfce4a39b1fd97a99c3ea
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26b391d36fe0cb42e8d79cdec7635bb03259b7cf"
      Last-Modified:
      - Sun, 09 May 2021 14:01:30 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1620582872'
      X-Ratelimit-Used:
      - '13'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".github","path":".github","sha":"771a53fee70d910b9eb0ba8189c7c0d95bd30949","size":0,"url":"https://api.github.com/repos/vcr/vcr/contents/.github?ref=master","html_url":"https://github.com/vcr/vcr/tree/master/.github","git_url":"https://api.github.com/repos/vcr/vcr/git/trees/771a53fee70d910b9eb0ba8189c7c0d95bd30949","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/vcr/vcr/contents/.github?ref=master","git":"https://api.github.com/repos/vcr/vcr/git/trees/771a53fee70d910b9eb0ba8189c7c0d95bd30949","html":"https://github.com/vcr/vcr/tree/master/.github"}},{"name":".gitignore","path":".gitignore","sha":"fdf1d35f8508ee78df2c9227cffbee7492288ac6","size":689,"url":"https://api.github.com/repos/vcr/vcr/contents/.gitignore?ref=master","html_url":"https://github.com/vcr/vcr/blob/master/.gitignore","git_url":"https://api.github.com/repos/vcr/vcr/git/blobs/fdf1d35f8508ee78df2c9227cffbee7492288ac6","download_url":"https://raw.githubusercontent.com/vcr/vcr/master/.gitignore","type":"file","_links":{"self":"[...]
